
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: large;
    text-align: center;
    text-transform: capitalize;
}
.container {
    height: 3000px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
}

.Products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #f4f4f4;
  

}

p {
   
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    padding-top: 50px;
    line-height: 2px;
}

.img {
  
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 100px;
}